<footer>
  <small>Peyton Bechard &copy; 2023</small>
  <a href="https://github.com/pmbechard/Post-It" target="_blank"
    ><img src="/images/github.png" alt="GitHub" class="footerImg"
  /></a>
</footer>
